<h2> {{banner.portal}} </h2>

<img src={{banner.imageur}} alt="photo of the person">

<h2> Rate Up Characters : {{banner.characters}} </h2>

<h2> Update {{banner.maj}} </h2>

<h2> Release Date : {{banner.release}}     ||      End Date : {{banner.end}}        </h2>


<a href ={{banner.previous}}> <h2>Previous Banner</h2> </a> 

<a href ={{banner.next}}> <h2>Next Banner</h2> </a>