<h2> {{person.name}}'s banner </h2>

<img src={{person.imageur}} alt="photo of the person">

<h2> Rate Up Characters : {{person.characters}} </h2>

<h2> Update {{person.maj}} </h2>

<h2> Release Date : {{person.release}}     ||      End Date : {{person.end}}        </h2>


<a href='{{person.name}}/edit'>
<button type="button" class="btn btn-primary">Edit</button></a>

<a href='/banner/{{person.name}}/delete'
 onclick="return confirm('Are you sure about that?');">
<button type="button" class="btn btn-danger">Delete</button> </a>


